main {
    margin: 70px 0px;
}

#altered-main {
    margin: 30px 0px;
}

.img-inicio {
    width: 18em;
}

.btn {
    margin: 10px;
}

footer {
    min-height: 80px;
}

#btn-voltar {
    height: 30px;
}

.form-login {
    margin-top: 35px;
}

.card {
    padding: 0px;
}

.bloco1 {
    background-color: aquamarine;
}

.bloco2 {
    background-color: rgb(32, 141, 214);
}

#perfil {
    height: 180px;
}

.preco {
    font-size: 150%;
}

.estrela{
    height: 40px;
}

.bloco1, .bloco2{
    justify-content: center;
    text-align: center;
}

.fot {
  margin-top: 10px;
}